@import './_CSSReset', '_variable','./_mixin';
@import "./topBtn";
@import "./_nav";
@import "./_copyright";

*{
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    font-family: "Noto Sans TC";
    a{
        text-decoration: none;
    }
}

.background{
    position: relative;
    z-index: -1;
    .top_shape{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 495px;
        background-color: #F7F9FD;
        border-radius: 0px 0px 0px 300px;
    }
    .banner_image{
        @include bg_figure_set(0px, auto, 0px, 885px, 559px, "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg")
    }
    .circle_light_yellow{
        @include bg_figure_set(876px, 0px, auto, 94px, 361px,"https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
        background-position: right;
    }
    @media screen and (max-width: 375px) {
        .top_shape{
            top: 74px;
            height: 495px;
            border-radius: 0px 0px 0px 150px;
        }
        .banner_image{
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner_sm.svg");
            top: 74px;
            width: 375px;
            height: 495px;
        }
    }
}

nav{
    margin-bottom: 92px;
    .nav_btn{
        @include textSet(none, 16, none);
    }
    @media screen and (max-width: 1120px) {
        margin-bottom: 48px;
    }
}

.banner_text_wrapper{
    margin:0px auto 269px 139px;
    h1{
        font-size: 48px;
        line-height: 70px;
        font-weight: bold;
    }
    p{
        font-size: 16px;
        line-height: 24px;
    }
    @media screen and (max-width: 1120px) {
        margin:0px auto 421px auto;
        padding: 0px 20px;
        h1{
            @include textSet(none, 32, none);
            margin-bottom: 16px;
        }
        p{
            @include textSet(none, 16, none)
        }
    }
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    @media screen and (max-width: 1120px) {
        max-width: 335px;
    }
}

.plan_context_wrapper{
    width: 83.3%;
    margin: 0 auto;
    h2{
        @include textSet ($secondary-color, 32, bold);
        text-align: center;
        margin-bottom: 48px;
        @media screen and (max-width: 1120px) {
            @include textSet (none, 28, none);
        }
    }
    .selector_wrapper{
        @include flex(row, center, center);
        margin-bottom: 59px;
        padding-bottom: 5px;
        overflow-x: scroll;
        @media screen and (max-width: 1120px) {
            margin-bottom: 24px;
            justify-content: flex-start;
            padding-bottom: 8px;
            &::-webkit-scrollbar {
                display:none;
            }
        }
        .selector{
            @include btn(#FFFFFF);
            @include textSet($primary-color, 18, none);
            border: 1px $primary-color solid;
            border-radius: 27px;
            margin: 0px 8px;
            padding: 12px 32px;
            text-align: center;
            cursor: pointer;
            @media screen and (max-width: 1120px) {
                @include textSet(none, 16, none);
                padding: 8px 16px;
                margin: 0px 3px;
                white-space: nowrap;
            }
            &.active{
                background-color: $primary-color;
                color:#FFFFFF
            }
            &:hover{
                @media (hover:hover){
                    background-color: $primary-color;
                    color:#FFFFFF
                }
            }
        }
    }
    .plan_detail_wrapper{
        @include flex(row, space-between, center);
        margin-bottom: 100px;
        @media screen and (max-width: 1120px) {
            flex-direction: column;
            margin-bottom: 36px;
        }
        .detail_wrapper{
            @include box-shadow;
            width: 444px;
            border-radius: 12px;
            background-color: #FFFFFF;
            padding-bottom: 32px;
            @media screen and (max-width: 1120px) {
                margin-bottom: 24px;
                width: 335px;
            }
            h3{
                @include textSet($secondary-color, 24,bold);
                text-align: center;
                width: 100%;
                border-bottom: 1px #DDDDDD solid;
                padding: 16px 0px;
                margin-bottom: 32px;
            }
            .detail{
                padding-left: 29px;
                padding-right: 23px;
                @media screen and (max-width: 1120px) {
                    padding: 0px 16px;
                }
            }
            .intro{
                    @include textSet($secondary-color, 16, none);
                    text-align: center;
                    margin-bottom: 32px;
                }
                .price_calculate{
                    @include flex(row, space-between, center);
                    margin-bottom: 32px;
                    @media screen and (max-width: 1120px) {
                        margin-bottom: 27px;
                    }
                    .user_num, .price_amount{
                        background-color: #F5F5F5;
                        padding: 24px 32px;
                        border-radius: 12px;
                        @media screen and (max-width: 1120px) {
                            padding: 16px 24px;
                        }
                        p{
                            margin-bottom: 8px;
                            text-align: center
                        }
                        p, span{
                            @include textSet($secondary-color, 12, none);
                        }
                        .num{
                            @include textSet(none, 32, none);
                            line-height: 35px;
                            @media screen and (max-width: 1120px) {
                                @include textSet(none, 28, none);
                            }
                        }
                    }
                    .user_num{
                        span{
                            color: $primary-color;
                        }
                    }
                    .equal{
                        font-size: 29px;
                        line-height: 42px;
                        @media screen and (max-width: 1120px) {
                            @include textSet(none, 24, none)
                        }
                    }
                }
                .feature_wrapper{
                    margin-bottom: 32px;
                    @media screen and (max-width: 1120px) {
                        margin-bottom: 24px;
                        padding-bottom: 16px;
                    }
                    li{
                        @include flex (row, normal, flex-start);
                        @include textSet(none, 16, none);
                        margin-bottom: 16px;
                        @media screen and (max-width: 1120px) {
                            @include textSet(none, 14, none);
                        }
                        img{
                            margin-right: 12.94px;
                            @media screen and (max-width: 1120px) {
                                width: 16px;
                                height: 14px;
                                margin-right: 16px;
                            }
                        }
                    }
                }
            .btn{
                @include btn($primary-color);
                @include textSet(none, 18, none);
                border-radius: 27px;
                padding: 12px 32px;
                width: 136px;
                margin: 0 auto;
                cursor: pointer;
                @media screen and (max-width: 1120px) {
                    margin-bottom: 24px;
                }
            }
        }
    }
}

.common_QA_wrapper{
    width: 83.3%;
    margin: 0 auto;
    margin-bottom: 100px;
    h2{
        @include textSet ($secondary-color, 32, bold);
        text-align: center;
        margin-bottom: 48px;
    }
    .item_wrapper{
        @include flex(column, space-between, center);
        .item{
            @include box-shadow;
            border-radius: 12px;
            padding: 16px 32px;
            width: 100%;
            margin-bottom: 16px;
            .question_wrapper{
                @include flex(row, space-between, center);
                &.active{
                    margin-bottom: 24px;
                    .switch{
                        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_minus.svg");
                    }
                    .question{
                        color: $primary-color;
                        font-weight: bold;
                    }
                }
                .question{
                    @include textSet($secondary-color, 18, none);
                }
                .switch{
                    width: 20px;
                    height: 20px;
                    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_plus.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            .answer{
                display: none;
                @include textSet($tertiary-color, 16, none);
                line-height: 32px;
            }
        }
    }
    @media screen and (max-width: 1120px) {
        width: 100%;
        h2{
            @include textSet(none, 28, none);
            margin-bottom: 32px
        }
        .item{
            padding: 16px;
            .question_wrapper{
                .question{
                    @include textSet(none, 16, none);
                }
            }
        }
    }
}
